body {
    margin: 0;
}
.container {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.setter{
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.edge-setter-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1-break-title {
    display: block;
    width: 300px;
    white-space: normal;
}
.header p {
    font-size: 24px;
}
.p-break-title {
    display: block;
    width: 360px;
    white-space: normal;
    color: #E5E7EB;
}
.header ul {
    list-style-type: none;
    gap: 15px;
    display: flex;
    font-size: 12px;
}
a {
    color: #F9FAF8;
    text-decoration: none;
}

.hero {
    display: flex;
    flex: 1;
    margin: 5rem 0;
}
.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
    flex: 1;
    justify-content: flex-start;
}
.right-container {
    background-color: grey;
    flex: 1;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.left-container a {
      width: 110px;
    background-color: #3882F6;
    color: white;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 3px 10px;
    margin: 8px 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
}
h1 {
    margin: 8px 0;
}
p {
    margin: 8px 0;
}

/* <----------------------------------------------------------------------------------------------> */
.edge-setter-2 {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.info .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 3rem;
}


.details img {
    display: flex;
    height: 150px;
    width: 150px;
    border: solid #3882F6 3px;
    border-radius: 8px;
}

.details ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 2rem;
    padding: 0;
}

.info .img-info p{
    max-width: 150px;
    text-align: center;
    color: #202124fa;
    
}
/* <--------------------------------------------------------------------------------------------------> */
.edge-setter-3 {
 
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;

}
.quote-container {
    margin-top: 3rem;
    margin-bottom:2rem;
    padding: 0 3rem;
}

.text {
    align-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.credit {
    text-align: right;
    font-size: 24px;
    font-weight: 650;
    margin-right: 2rem;
    margin-top: 0px;
}

/* <-----------------------------------------------------------> */
.sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.5rem 0 ;
}
.inner-container {
    padding: 2rem 4rem;
    display: flex;
    width: max-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 4rem;
}

.inner-container .ads {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #F9FAF8;
    
}

.sign-up-container .ads #header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}
.sign-up-container .ads #text {
    font-size: 15px;
    margin-top: 2px;
}

.a {
    width: 110px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 3px 10px;
    margin: 8px 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
}

/* <---------------------------------------------> */
.edge-setter-5 {
    background-color : #1F2937;
    height: 100px;
    display: flex;
    align-items : center;
    justify-content: center;
}
.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}